body {
    font-family: Arial, sans-serif;
    background-color: #cee0f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #ffffff
  }
  .calculator {
    background-color: #8fbedc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
  }
  .calculator h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .input-group {
    margin-bottom: 15px;
  }
  input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #f0d2d4;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  .buttons button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .buttons button:hover {
    background-color: #cbcbcb;
  }
  .result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
  }
  .error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
  }