body{
    margin: 0;
    padding: 0;
    background: #ccc;
}
nav#topmenu ul{
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav#topmenu li{
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    padding: 20px;
}
nav#topmenu a{
    text-decoration: none;
    color: #fff;
}
.layt{
    font-size: 13px;
    font-style: italic;
    
}
article{
    margin-left: 20px;
}
header h1{
    text-align: center;
}
footer{
    background: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom:0 ;
    width: 100%;
}
table{
    border: 1px solid red;
    border-collapse: collapse;

}
table td{
    border: 1px solid red;
    padding: 5px;

}